#container {
    height: calc(100vh - 100px);
}

#right {
    border: 1px solid #ccc;
    border-radius: 10px;
}

#topRight {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E323C;
    color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#topMonth {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#topDays,
#topHours {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

#topDays p {


    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#topDays p:hover,
#topHours p:hover {
    cursor: pointer;
    background-color: #4C9300;
    color: #fff;
}

#topButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnScheduled {
    padding: 20px 40px;
    font-weight: bold;
    border-radius: 10px;
}

#topDays button {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 0;

}

#topHours button {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    border: 0;
}

.selectedDay,
.selectedTime,
#topDays button:hover,
#topHours button:hover {
    background-color: #4C9300;
    color: #fff;
    cursor: pointer;

}