#containerFormStep3 {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#containerImage {
    display: flex;
    justify-content: center;
    align-items: center;

}

#bla {
    justify-content: start;
}

@media (max-width: 599px) {
    #containerFormStep3 {
        height: 100vh;

    }
}